*.cache
*.dll
*.pdb

/C#/NovelReader/bin
/C#/NovelReader/obj
/C#/Logger/bin
/C#/Logger/obj
/C#/Novel/bin
/C#/Novel/obj
/C#/SQLManager/bin
/C#/SQLManager/obj
/IN_DEVELOPMENT
/Python/

/MainProgram/Books
/MainProgram/Logs.log
*.suo
*.user
_ReSharper.*/
*.sdf
*.opensdf
*.tlog
*.log
*.cache
*.CopyComplete
*.FileListAbsolute.txt

# Ignore NuGet Packages
*.nupkg

# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*

# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/

# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/repositories.config

# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

# Ignore other intermediate files that NuGet might create. project.lock.json is used in conjunction
# with project.json (NuGet v3); project.assets.json is used in conjunction with the PackageReference
# format (NuGet v4 and .NET Core).
project.lock.json
project.assets.json
