*.cache
*.dll
*.pdb
/build/
/C#/NovelReader/bin/Debug
/C#/Logger/bin/Debug
/C#/Novel/bin/Debug
/C#/NovelReaderTest/bin/Debug
/C#/SQLManager/bin/Debug
/C#/NovelReader/bin/Release/Books/
/C#/WebRetriever/bin/Debug

/C#/NovelReader/obj/Debug
/C#/Logger/obj/Debug
/C#/Novel/obj/Debug
/C#/NovelReaderTest/obj/Debug
/C#/SQLManager/obj/Debug
/C#/WebRetriever/obj/Debug
/IN_DEVELOPMENT

/Python/

/MainProgram/Books
/MainProgram/Logs.log
*.suo
*.user
_ReSharper.*/
*.sdf
*.opensdf
*.tlog
*.log