*.cache
*.dll
*.pdb
/build/

/C#/NovelReader/bin/Debug/Books
/C#/NovelReader/bin/Debug/Books/Logs
/C#/NovelReader/bin/Release/Books
/C#/NovelReader/bin/Release/Books/Logs

/C#/NovelReader/obj
/C#/Logger/obj
/C#/Novel/obj
/C#/NovelReaderTest/obj
/C#/SQLManager/obj
/C#/WebRetriever/obj
/IN_DEVELOPMENT

/Python/

/MainProgram/Books
/MainProgram/Logs.log
*.suo
*.user
_ReSharper.*/
*.sdf
*.opensdf
*.tlog
*.log