astor==0.8.1
brotli==1.0.9
cchardet==2.1.7
cffi==1.15.0
configparser==5.2.0
coverage==6.3.2
curio==1.5
Cython==0.29.28
dl==0.1.0
docutils==0.18.1
HTMLParser==0.0.2
importlib_metadata==4.11.2
ipython==8.1.1
jedi==0.18.1
keyring==23.5.0
lockfile==0.12.2
lxml==4.8.0
mock==4.0.3
monotonic==1.6
numpy==1.21.4
ordereddict==1.1
protobuf==3.19.4
pylint==2.12.2
pytest==7.0.1
python_bcrypt==0.3.2
simplejson==3.17.6
tornado==6.1
trustme==0.9.0
typing_extensions==4.1.1
unicodedata2==14.0.0
win_inet_pton==1.1.0
wincertstore==0.2.1
xmlrpclib==1.0.1
zipp==3.7.0

requests~=2.27.1
beautifulsoup4~=4.10.0
selenium~=4.1.2